<ul class="todo-list">
  <% @todos.each do |todo| %>
    <li>
      <div class="view">
        <label><%= todo.title %></label>
        <%= button_to(todo, remote: true, method: :delete, class: 'destroy') {} %>
      </div>
    </li>
  <% end %>
</ul>
