<header class="header">
  <h1>todos</h1>
  <%= form_with(model: Todo.new, local: true) do |form| %>
    <%= form.text_field :title, class: 'new-todo', placeholder: 'essai', autofocus: true %>
  <% end %>
</header>
